<div class="container">
	<div class="row">

<div class="login col-md-4 offset-md-4">
	
<%= bootstrap_form_for '/login' do |f| %>
 <fieldset class="form-group">
  Email:
  <div class="controls login-field">
	  <%= text_field_tag :email %>
  </div>	
  
</fieldset>

 <fieldset class="form-group">
	  Password:
	 <div class="controls login-field">
  <%= password_field_tag :password %>
</div>
  <p><p>
	  <fieldset class="form-group">  
		  <div class="actions pull-right">
		  <%= f.submit 'Submit', class: 'btn btn-primary btn-about pull-right'%>
	  </div>
</div>
</fieldset>
<% end %>

</div>
</div>
</div>