  <%= content_for :override do %>
		
		  <section class="b-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 donate-form">
																	<h1>Yes on 58 needs your help</h1>
																		<p>Your financial contribution will go a long way to helping to inform and engage voters on the importance of passing Proposition 58 this November.</p>
<p>Every dollar will help, and giving is easy using the secure form below.</p>
																			
																	<div class="anedot-form">
															
																			<iframe src="https://causes.anedot.com/campaigns/general-fund-cd050aa5eb21be9cd1bef?embed=true" width="100%" height="600" frameborder="0"></iframe>	
																				</div>
																					<p> You can also contribute using our <%= link_to 'stand-alone donation form hosted at Anedot.com',  "https://causes.anedot.com/campaigns/general-fund-cd050aa5eb21be9cd1bef/donations/new", target:"_blank" %></p>
																				
																				<p><strong><u>Contributions not tax deductible for income tax purposes.</u></strong></p>
																					<p>Paid for by Yes on 58, Californians for English Proficiency sponsored by teachers and service employees organizations.  Major funding by Association of California School Administrators Issues Political Action Committee (ACSA Issues PAC).
																						</p>
				
                </div>
            </div>
        </div>
    </section>
	
																							<% end %>