<% content_for :admin do %>
<div class="admin">

	<h1>Listing Users</h1>
	
	<p>The following users have access to the admin section. Only <strong>Super Users</strong> can add more users.
		<table class="table table-striped">
				<thead>
				    <tr>
				      <th>Type</th>
				      <th>Name</th>
				      <th>Email</th>
				      <th></th>
				    </tr>
				  </thead>
	<% @users.each do |user| %>
	<tr><td class="su"><% if user.id <= 2 %><strong>SU</strong><% end %> </td><td class="user-name"><%= user.name %> </td><td class="user-email"><%= user.email %></td><td class="su"><% if user.id >= 3 %><strong><i> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "admin-edit fa fa-trash" %></i></strong><% end %> </td></tr>
		<% end %>
	</table>
	
	<% if current_user.id <= 2 %><p><%= link_to 'Add User', signup_path, class: "btn btn-primary pull-right"%><% end %>
	
	</div>
	
	<% end %>