<%= content_for :jumbotron do %>
<div class="home-jumbotron">
   
</div>

<% end %>
<div class="sub-intro-section">
        <div class="container">
            <div class="row ">
								<div class="learn-title"><h1 >Yes on Proposition 58 - <font class="learn-blue">LEARN</font></h1>
													<h2><strong>L</strong>anguage <strong>E</strong>ducation, <strong>A</strong>cquisition and <strong>R</strong>eadiness <strong>N</strong>ow
													</h2></div>
								 <h2>Proposition 58 Ensures All Students Can Achieve English Proficiency as Soon as Possible. 
</h2><p>Too many California students are being left behind and not given the opportunity to learn English with the most effective teaching methods possible. This is because of an outdated nearly 20-year-old law, Prop 227, which restricts the instructional methods school districts can use to teach English. 

<p>Prop 58 revises Prop 227 to remove these restrictions so schools are able to use the most up-to-date teaching methods possible to help our students learn.

</p>

<h2>Proposition 58 Expands Opportunities for English Speakers to Learn A Second Language.</h2>
									<p>Proposition 58 removes barriers hurting students by discouraging schools from expanding multilingual education. Prop 58 encourages school districts to provide instruction programs so native English speakers can become proficient in a second language.
</p>
					
					<h2>Proposition 58 Provides A Better Future for Our Children and Our State.</h2>

<p>The world economy is changing rapidly. Today, technology allows even the smallest businesses to have a global reach. Students proficient in English and a second language will be more employable, start out earning higher wages, and make California’s workforce better prepared to compete for jobs in the global economy. 
</p>																						
																																				
																												
														<p><%= link_to 'Learn More...', about_path, class: "btn btn-primary" %></p>

</div>
</div>
</div>
