

<div class="endorsements-jumbotron">
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
					
                    
                </div>
            </div>
        </div>
    </section>
</div>
					
														
<div class="sub-intro-section">
        <div class="container">
            <div class="row ">
								 <h2>Endorsements for LEARN</h2>
													 
			 
			  <p>This initiative expands opportunities for all students and is supported by a bipartisan coalition of parents, educators and business leaders.</p>
									
						<h3>To add your name to the growing list of LEARN supporters, just <%= link_to 'fill out this form', contact_path %>.</h3>					
									
									

</p>.</

</div>
</div>
</div>
   
    <section class="a-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 endorsers">
                    <h2>Organizations</h2>
														 
																																																		<p><b>	Asian Business Association	</p></b>
																																																		<p><b>	Asian Law Alliance	</p></b>
																																																		<p><b>	Association of Two-Way Dual Immersion Education	</p></b>
																																																		<p><b>	California Association of School Administrators	</p></b>
																																																		<p><b>	California Association of Latino School Administrators	</p></b>
																																																		<p><b>	California Association for Bilingual Education	</p></b>
																																																		<p><b>	California Democratic Party	</p></b>
																																																		<p><b>	California Federation of Teachers	</p></b>
																																																		<p><b>	California Labor Federation	</p></b>
																																																		<p><b>	California Language Teachers Association	</p></b>
																																																		<p><b>	California Latino Caucus	</p></b>
																																																		<p><b>	California Latino School Boards Association	</p></b>
																																																		<p><b>	California Linguistic Anthropology Association	</p></b>
																																																		<p><b>	California Nurses Association	</p></b>
																																																		<p><b>	California School Boards Association	</p></b>
																																																		<p><b>	California Teachers Association	</p></b>
																																																		<p><b>	California State Parent Teachers Association	</p></b>
																																																		<p><b>	Californians Together	</p></b>
																																																		<p><b>	Chinese American Council of Sacramento	</p></b>
																																																		<p><b>	Council of Asian Pacific Islanders Together for Advocacy and Leadership (CAPITAL)	</p></b>
																																																		<p><b>	Early Edge California	</p></b>
																																																		<p><b>	Educate Our State	</p></b>
																																																		<p><b>	Ed Trust West	</p></b>
																																																		<p><b>	Korean Resource Center	</p></b>
																																																		<p><b>	La Raza Roundtable de California	</p></b>
																																																		<p><b>	League of California Cities Asian Pacific Islander Caucus	</p></b>
																																																		<p><b>	League of Women Voters of California	</p></b>
																																																		<p><b>	Los Angeles Chamber of Commerce	</p></b>
																																																		<p><b>	San Jose Silicon Valley Chamber of Commerce	</p></b>
																																																		<p><b>	SEIU California 	</p></b>
																																																		<p><b>	Silicon Valley Leadership Group	</p></b>
																																																		<p><b>	Regional Chamber of Commerce-San Gabriel Valley	</p></b>
																																																		<p><b>	United Teachers Los Angeles	</p></b>


					
				
                </div>
            </div>
        </div>
    </section>
	

																													    <section class="b-section">
																													        <div class="container">
																													            <div class="row">
																													                <div class="col-lg-10 col-lg-offset-1 endorsers">
																													                     <h2>Elected Officials</h2>
																																																																																																																														<p><b>	Governor Jerry Brown	</p></b>
																																																																																																																														<p><b>	Lt. Governor Gavin Newsom	</p></b>
																																																																																																																														<p><b>	Tom Torlakson, State Superintendent of Public Instruction 	</p></b>
																																																																																																																														<p><b>	Alex Padilla, California Secretary of State	</p></b>
																																																																																																																														<p><b>	Betty Yee, California State Controller	</p></b>
																																																																																																																														<p><b>	Dave Jones, California Insurance Commissioner	</p></b>
																																																																																																																														<p><b>	Fiona Ma, Member, State Board of Equalization	</p></b>
																																																																																																																														<p><b>	U.S. Congressman Ted Lieu	</p></b>
																																																																																																																														<p><b>	U.S. Congresswoman Judy Chu	</p></b>
																																																																																																																														<p><b>	Senate President pro Tem Kevin De Leon	</p></b>
																																																																																																																														<p><b>	Senator Ben Allen	</p></b>
																																																																																																																														<p><b>	Senator Jim Beall	</p></b>
																																																																																																																														<p><b>	Senator Marty Block	</p></b>
																																																																																																																														<p><b>	Senator Isadore Hall	</p></b>
																																																																																																																														<p><b>	Senator Loni Hancock	</p></b>
																																																																																																																														<p><b>	Senator Ed Hernandez	</p></b>
																																																																																																																														<p><b>	Senator Jerry Hill	</p></b>
																																																																																																																														<p><b>	Senator Hannah Beth Jackson	</p></b>
																																																																																																																														<p><b>	Senator Ricardo Lara	</p></b>
																																																																																																																														<p><b>	Senator Mark Leno	</p></b>
																																																																																																																														<p><b>	Senator Connie Leyva	</p></b>
																																																																																																																														<p><b>	Senator Carol Liu	</p></b>
																																																																																																																														<p><b>	Senator Mike McGuire	</p></b>
																																																																																																																														<p><b>	Senator Tony Mendoza	</p></b>
																																																																																																																														<p><b>	Senator Holly Mitchell	</p></b>
																																																																																																																														<p><b>	Senator Bill Monning	</p></b>
																																																																																																																														<p><b>	Senator Richard Pan	</p></b>
																																																																																																																														<p><b>	Senator Fran Pavley	</p></b>
																																																																																																																														<p><b>	Senator Richard Roth	</p></b>
																																																																																																																														<p><b>	Senator Bob Wieckowski	</p></b>
																																																																																																																														<p><b>	Senator Lois Wolk	</p></b>
																																																																																																																														<p><b>	Speaker of the Assembly, Anthony Rendon	</p></b>
																																																																																																																														<p><b>	Assemblymember Luis Alejo	</p></b>
																																																																																																																														<p><b>	Assemblymember Rob Bonta	</p></b>
																																																																																																																														<p><b>	Assemblymember Nora Campos	</p></b>
																																																																																																																														<p><b>	Assemblymember Ian Calderon	</p></b>
																																																																																																																														<p><b>	Assemblymember David Chiu	</p></b>
																																																																																																																														<p><b>	Assemblymember Kansen Chu	</p></b>
																																																																																																																														<p><b>	Assemblymember Kevin McCarty	</p></b>
																																																																																																																														<p><b>	Assemblymember Susan Talamantes Eggman	</p></b>
																																																																																																																														<p><b>	Assemblymember Cristina Garcia	</p></b>
																																																																																																																														<p><b>	Assemblymember Eduardo Garcia	</p></b>
																																																																																																																														<p><b>	Assemblymember Jimmy Gomez	</p></b>
																																																																																																																														<p><b>	Assemblymember Lorena Gonzalez	</p></b>
																																																																																																																														<p><b>	Assemblymember Miguel Santiago	</p></b>
																																																																																																																																																																																																										<p><b>	Assemblymember, Reggie Jones Sawyer	</p></b>
																																																																																																																																																																																																										<p><b>	Assemblymember Tony Thurmond	</p></b>
																																																																																																																																																																																																										<p><b>	Assemblymember Das Williams	</p></b>
																																																																																																																																																																																																										<p><b>	Eric Mar, San Francisco Board of Supervisors	</p></b>
																																																																																																																																																																																																										<p><b>	Ed Lee, Mayor, San Francisco	</p></b>
																																																																																																																																																																																																										<p><b>	Bao Nguyen, Mayor, Garden Grove	</p></b>
																																																																																																																																																																																																										<p><b>	Robert Garcia, Mayor, Long Beach	</p></b>
																																																																																																																																																																																																										<p><b>	Darrell Steinberg, Mayor-elect, Sacramento	</p></b>
																																																																																																																																																																																																										<p><b>	James Toma, Mayor, City of West Covina	</p></b>
																																																																																																																																																																																																										<p><b>	Gilbert Wong, Councilmember, City of Cupertino	</p></b>
																																																																																																																																																																																																										<p><b>	Alejandra Sotelo-Solis, Council Member, City of National City	</p></b>
																																																																																																																																																																																																										<p><b>	David Lim, Councilmember, City of San Mateo	</p></b>
																																																																																																																																																																																																										<p><b>	Jason Pu, Councilmember, City of San Gabriel	</p></b>
																																																																																																																																																																																																										<p><b>	Liza Normandy, Councilmember, City of South San Francisco	</p></b>
																																																																																																																																																																																																										<p><b>	Blanca Alvarado, Vice Mayor City of San Jose 	</p></b>
																																																																																																																																																																																																										<p><b>	Karen Monroe, Superintendent of Schools, Alameda County	</p></b>
																																																																																																																																																																																																										<p><b>	Tim Farley, Board Member, Contra Costa Community College District Board	</p></b>
																																																																																																																																																																																																										<p><b>	Nicky González Yuen, Ph.D, JD, Trustee, Peralta Community College Board	</p></b>
																																																																																																																																																																																																										<p><b>	Steve Ngo, Board Trustee, City College of San Francisco	</p></b>
																																																																																																																																																																																																										<p><b>	Mike Eng, Trustee, Los Angeles Community College District	</p></b>
																																																																																																																																																																																																										<p><b>	Mike Fong, Trustee, Los Angeles Community College District 	</p></b>
																																																																																																																																																																																																										<p><b>	Valerie Cuevas, Board Member, West Conta Costa Unified School District	</p></b>
																																																																																																																																																																																																										<p><b>	Lan Nguyen, Board President, East Side Union High School District 	</p></b>
																																																																																																																																																																																																										<p><b>	Henry Lo, Trustee, Garvey Elementary School District	</p></b>
																																																																																																																																																																																																										<p><b>	Anthony Duarte, Trustee, Hacienda La Puente Unified School District Board 	</p></b>
																																																																																																																																																																																																										<p><b>	Katherine Tseng, Trustee, Los Gatos-Saratoga Union High School District	</p></b>
																																																																																																																																																																																																										<p><b>	Emily M. Murase, PhD., Trustee, San Francisco Board of Education	</p></b>
																																																																																																																																																																																																										<p><b>	Michael Chang, Ph.D., Vice President, Santa Clara County Board of Education	</p></b>
																																																																																																																																																																																																										<p><b>	Anna Song, President/Trustee, Santa Clara County Board of Education	</p></b>
																																																																																																																																																																																																										<p><b>	Noelani Sallings, Vice President, Santa Clara Unified School District Board Of Education	</p></b>
																																																																																																																																																																																																										<p><b>	Charles Weis, Ph.D, Trustee, Hueneme School District, President of ACSA (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Jack O’Connell, State Superintendent of Public Instruction, (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Delaine Eastin, State Superintendent of Public Instruction, (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Paul Fong, Assemblymember and Chair of Asian Pacific Islander Caucus (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Assemblymember George Nakano (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Anu Natarajan, Vice Mayor, Fremont (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Sukhee Kang, Mayor, Irvine (Fmr.)	</p></b>
																																																																																																																																																																																																										<p><b>	Otto Lee, Mayor, Sunnyvale (Fmr.)	</p></b>																																																				

																												                </div>
																												            </div>
																												        </div>
																												    </section>

																																																																																											    <section class="a-section">
																																																																																											        <div class="container">
																																																																																											            <div class="row">
																																																																																											                <div class="col-lg-10 col-lg-offset-1 endorsers">
																																																																																											                    <h2>Educators and Community Leaders
</h2>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Diane Ujiiye,	<b>	Chair California Asian Pacific Islander American Commission (Fmr.)	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Judy Ki,	<b>	California Commission on Asian Pacific Islander Affairs (Fmr.)	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Thomas Wong,	<b>	President, San Gabriel Valley Municipal Water District	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Dr. Sonney Chong, 	<b>	Founder, Council of Asian Pacific Islanders Together for Advocacy and Leadership	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>		<b>		</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>		<b>		</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Bill Ong Hing,	<b>	Professor of Law, University of San Francisco	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Elisa Orona,	<b>	Executive Director, Health Improvement Partnership	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Dale Minami,	<b>	Co-Founder, Asian Law Caucus	</b></p>
																																																																																																																																																																																																																																																																																																																																																																					<p>	Joanna Shea,	<b>	Science Teacher, Independence High School	</b></p>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											<h2>School Districts</h2>
																																																																																																																																																																																																																																	<p><b>Hueneme School District</b></p>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																<p><b>
San Diego County Office of Education
</b></p>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																

																																																																																											                </div>
																																																																																											            </div>
																																																																																											        </div>
																																																																																											    </section>

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											    <section class="b-section">
																																																																																																																																																																																																																																				        <div class="container">
																																																																																																																																																																																																																													            <div class="row">
																																																																																																																																																																																																																																																																																													                <div class="col-lg-10 col-lg-offset-1">
<div class="support-58">
																																																														<h1>Support our students by adding your name 
to the list of endorsers that are voting YES on 58</h1>
																																																				<p><%= link_to 'Support Prop 58', support_path, class: "btn btn-primary" %></p>																																																																																																																																																																																																																																																																																																							                </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													            </div>
																																																																																																																																																																																																																																																																																																																																																												        </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											    </section>
	
	
    