<% content_for :admin do %>
<div class="container">
	<div class="row">

<div class="admin-panel ">
	<h1>Add Endorser</h1>
	
	
<%= render 'form' %>


<p class="bta"><i class="fa fa-arrow-left" aria-hidden="true"></i> <%= link_to 'Back to Admin', admin_path %>
</div>

</div>
</div>
<% end %>