<%= content_for :jumbotron do %>
<div class="faq-jumbotron">
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
					
                    
                </div>
            </div>
        </div>
    </section>
</div>
		
	<% end %>			

    <section class="a-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Why do we need Proposition 58?</h2> 

<p>Under our current system, too many California students are being left behind and not given the opportunity to learn English with the most effective teaching methods possible. </p>

<p>This is because of an outdated nearly 20-year-old law, Proposition 227, which restricts the instructional methods school districts can use to teach English. This old law also limits the ability of English-speaking students to participate in language immersion programs.   </p>

<p>Proposition 58 amends the law to ensure all students can learn English quickly as possible.</p>

<p><strong>It’s time to remove barriers to learning for all students by supporting Proposition 58!</strong> </p>
																				
																				

					
				
                </div>
            </div>
        </div>
    </section>
	
																													    <section class="b-section">
																													        <div class="container">
																													            <div class="row">
																													                <div class="col-lg-10 col-lg-offset-1">
																													                    <h2>Does Proposition 58 help English speakers learn a second language?
</h2>
											
																																<p>Yes, Proposition 58 expands opportunities for English speakers to learn a second language.</p>

<p>The California Department of Education reports that only 312 out of 10,393 schools offer multilingual programs.  </p>

<p>Proposition 58 removes barriers to school districts offering language immersion programs. </p>

<p>Proposition 58 encourages school districts to provide effective instruction so native English speakers can become proficient in a second language.</p>




																												                </div>
																												            </div>
																												        </div>
																												    </section>

																																																																																											    <section class="a-section">
																																																																																											        <div class="container">
																																																																																											            <div class="row">
																																																																																											                <div class="col-lg-10 col-lg-offset-1">
																																																																																											                    <h2>Does Proposition 58 require students LEARN English as quickly as possible?
 
</h2>

																																																																																														<p>Yes, Proposition 58 helps make sure students LEARN English as quickly as possible.  </p> 

	<p>Proposition 58 requires schools to offer a structured English immersion program to English learners, based on what teachers and parents agree are the most effective instructional methods for those students.</p>

		




																																																																																											                </div>
																																																																																											            </div>
																																																																																											        </div>
																																																																																											    </section>

																																																																																												    <section class="b-section">
																																																																																												        <div class="container">
																																																																																												            <div class="row">
																																																																																												                <div class="col-lg-10 col-lg-offset-1">
																																																																																																																								                    <h2>How does Proposition 58 impact our students ability to compete in the global economy? </h2>
																																<p>Students with a strong proficiency in English who also speak another language are better prepared to compete in the global workforce.  The advantages of being multilingual include higher paying jobs, increased creative thinking and being more connected to work and community. </p>

<p>Extensive research has shown that students who choose to participate in multilingual programs attain high levels of academic achievement, including English and other language proficiency.  In fact, they repeatedly demonstrate greater achievement and higher scores than English-only students.				</p>

																																								
																																																																																																																																	                </div>
																																																																																																																																	            </div>
																																																																																																																																	        </div>
																																																																																																																																	    </section>
																																																																	    <section class="a-section">
																																																																        <div class="container">
																																																																																																            <div class="row">
																																																																																																                <div class="col-lg-10 col-lg-offset-1">
																																																																																																																															                    <h2>Does Proposition 58  allow local and schools to make decisions to help their students?					</h2>

																																																																	<p>Yes, Proposition 58 restores local control to our schools and gives parents a bigger voice.</p>

<p>Proposition 58 eliminates decades-old legal restrictions imposed on local school districts, allowing them to choose the most effective language instruction methods to help our students learn. </p> 

<p>Proposition 58 gives parents the ability to choose a language acquisition program that best suits their child. Parents must be consulted when the school district decides on the language courses it will offer. Parents can also join with other parents to request a specific language instruction program at their school.</p>

		




																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		                </div>
																																																																																																            </div>
																																																																	        </div>
																																																																		    </section>

																																																																			    <section class="b-section">
																																																																																																																																																														        <div class="container">
																																																																																																		            <div class="row">
																																																																																																	                <div class="col-lg-10 col-lg-offset-1">
																																																															                    <h2>Who is supporting Proposition 58?</h2>
																																			<p>Proposition 58 has broad-based support from local school districts, educators, parents and employers.
																																				<p>Giving local schools the tools they need to help students learn is not a partisan or political issue. Proposition 58 was placed on the ballot by a bi-partisan vote of the legislature. 

									<p>	Support for Proposition 58’s common-sense reforms to improve language instruction in our schools is broad-based and includes: </p>

																																																																																																									<ul class="ulist fa-ul">
																																																																																																								<li><i class="fa-li fa fa-check"></i>Local school boards (the California School Boards Association) </li>
<li><i class="fa-li fa fa-check"></i>Teachers (the California Language Teachers Association, the California Teachers Association, the California Federation of Teachers)</li>
<li><i class="fa-li fa fa-check"></i>Parents (California State PTA) </li>
<li><i class="fa-li fa fa-check"></i>Employers (including the San Jose/Silicon Valley and Los Angeles Chambers of Commerce)</li>
</ul>
																																																																																																								                </div>
																																																																																																							            </div>
																																																																																																								        </div>
																																																																																																								    </section>
				
				
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				    <section class="b-section">
																																																																																																																																																																																																																																																													        <div class="container">
																																																																																																																																																																																																																																																						            <div class="row">
																																																																																																																																																																																																																																																																																																																						                <div class="col-lg-10 col-lg-offset-1">
																									<div class="support-58">
																																																																																							<h1>Support our students by adding your name <br/>to the list of endorsers</h1>
																																																																																							
														<p><%= link_to 'Support Prop 58', support_path, class: "btn btn-primary" %></p>
											
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														            </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														        </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														    </section>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							</div>																																																																																																																																																																																																																																																																																																						   																																																		

	
    