<%= content_for :jumbotron do %>
<div class="about-jumbotron">
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
          
					
                    
                </div>
            </div>
        </div>
    </section>
</div>

<% end %>    
   
    <section class="a-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1">
                    <h2>Proposition 58 Ensures All Students Can Achieve English Proficiency as Soon As Possible.</h2> 

<p>Too many California students are being left behind and not given the opportunity to learn English with the most effective teaching methods possible. This is because of an outdated nearly 20-year-old law, Proposition 227, which restricts the instructional methods school districts can use to teach English. 

<p>Proposition 58 revises Proposition 227 to remove these restrictions so schools are able to use the most up-to-date teaching methods possible to help our students learn. 
<h3>Proposition 58:</h3>
<ul class="ulist fa-ul">
<li><i class="fa-li fa fa-check"></i>Requires local school districts to identify in their annual K-12 Local Control and Accountability Plans the instructional methods they will offer to help ensure all students become proficient in English as rapidly as possible. </li>
<li><i class="fa-li fa fa-check"></i>Requires schools to offer a structured English immersion program to English learners. But schools also can adopt other language instruction methods based on research and stakeholder input.</li>
<li><i class="fa-li fa fa-check"></i>School districts must seek input from educators, parents and the community. </li>
	</ul>
																				
																				

					
				
                </div>
            </div>
        </div>
    </section>
	
																													    <section class="b-section">
																													        <div class="container">
																													            <div class="row">
																													                <div class="col-lg-10 offset-md-1">
																													                    <h2>Proposition 58 Also Expands Opportunities for English Speakers to Learn a Second Language.
</h2>
											
																																<p>Proposition 58 removes barriers hurting students by discouraging schools from expanding multilingual education. Proposition 58 encourages school districts to provide instruction programs so native English speakers can become proficient in a second language:

																													</p>
																														
																														<ul class="ulist fa-ul">
		<li><i class="fa-li fa fa-check"></i>
		School districts must include in their annual K-12 Local Control and Accountability Plans programs giving English-speaking students the opportunity to achieve proficiency in a second language.</li>
		<li><i class="fa-li fa fa-check"></i>District choices of non-English languages must reflect input from parents, the community and the linguistic and financial resources of schools.
</li>
			<li><i class="fa-li fa fa-check"></i>		Research shows that students participating in programs taught in more than one language attain higher levels of academic achievement.																														</li>
																																		</ul>



																												                </div>
																												            </div>
																												        </div>
																												    </section>

																																																																																											    <section class="a-section">
																																																																																											        <div class="container">
																																																																																											            <div class="row">
																																																																																											                <div class="col-lg-10 offset-md-1">
																																																																																											                    <h2>Proposition 58 Restores Local Control to Our Schools.
 
</h2>

																																																																																														<p>Proposition 58 allows local school districts to choose the most up-to-date language instruction methods to improve student outcomes free from legal restrictions imposed on them by a decades-old law. 
		</p>




																																																																																											                </div>
																																																																																											            </div>
																																																																																											        </div>
																																																																																											    </section>

																																																																																												    <section class="b-section">
																																																																																												        <div class="container">
																																																																																												            <div class="row">
																																																																																												                <div class="col-lg-10 offset-md-1">
																																																																																																																								                    <h2>Proposition 58 Has Broad-Based Support from Local School Districts, Educators, Parents And Employers.


 </h2>
																																<p>Giving local schools the tools they need to improve outcomes for students is not a partisan or political issue. Proposition 58 was placed on the ballot by a bipartisan vote of the legislature. Support for Proposition 58’s common sense reforms to improve language instruction in our schools is broad-based and includes: 
																																	
																																	<ul class="ulist fa-ul">
																																	<li><i class="fa-li fa fa-check"></i>																																Local school boards (the California School Boards Association)</li>
																																		<li><i class="fa-li fa fa-check"></i>Teachers (the California Language Teachers’ Association, the California Teachers Association, the California Federation of Teachers)</li>
																																					<li><i class="fa-li fa fa-check"></i>Parents (California State PTA)</li>
																																						
																																						<li><i class="fa-li fa fa-check"></i>Employers (including the San Jose / Silicon Valley and Los Angeles Chambers of Commerce).</li>
																																							</ul>
																																								
<p>Proposition 58’s reforms allow schools to adopt the most up-to-date methods of language instruction to improve student outcomes and make better use of taxpayer dollars.  																																																																																								</p>

																																								<div class="vote-yes">
																																								<h1>VOTE YES ON 58</h1>
																																																																																</div>
																																																																																																																																	                </div>
																																																																																																																																	            </div>
																																																																																																																																	        </div>
																																																																																																																																	    </section>
																																																																																			
