.skip-signup {
	clear:both;
	padding:10px;
	width:100%;
	text-align:center;
}

.modal-header {
	text-align:center;
}

.modal-header h2{
	padding:20px 0 10px;
}

.modal-body {
	padding:0 40px;
}
.modal-body p {
	text-align:center;
	font-weight:bold;
}

.send-mc {
	margin-top:10px;
}

.alert-success {
	font-family:  "proxima-nova",sans-serif;
	background:#93C960;
}


.navbar {
  border-radius: 0 !important;
}

.navbar-toggler {
	color:#fff;
	margin-top:20px;
}

.navbar-toggler a {
	color:#fff;
}

.icon-bar {
	color:#fff;
}

.icon-bar:hover{
   background-color:#BCDBE7 !important;
}

.navbar-default div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}


h1, h2 {
  font-family: "capitolium-news-2",sans-serif;
  color:#29618C;
  text-align:center;
  }

  h1 {
	  font-weight:600;
	  color:#333;
	  text-shadow: 1px 1px #fff;
  }
  
  h3 {
	  color:#333;
	  text-align:center;
  }
p{
	margin-top:20px;
	font-weight:200;
	font-size:1.3em;
    }
	
.lead {
	font-size:1.9em;
	font-weight:200;
}
	




.navbar .page-scroll a {
	color:#fff;
}

.navbar .page-scroll a:hover {
	color:#fff;
}



.logo-small {
	border:5px solid #fff;
	margin:10px 0px 10px 0;
}

.header-container {
	background:#2696CE;
	border-bottom:5px solid #fff;
}
.logo-container {
	width:100%;
	
	text-align:center;
}

ul.nav {
	
}
ul.nav a {
	 color:#CEE9FD;
	
}

ul.nav a {
	padding:5px 8px;
   
    font-size:1em;
}
ul.nav a:hover { color: #fff !important; 
	text-decoration:none;
}

.nav-active { color: #fff !important;
	font-weight:bold; 
}

.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
		margin-top:55px;
  float: left;
		text-align:right;
		
}
.nav>li {
  float: left;
		padding:0px 5px;
}

.navbar {
	
   min-height:100px;
   margin-bottom:0;
   border:0px;
   border-bottom:0px;
   font-size:1.2em;
   text-transform: uppercase;
   font-family:  "proxima-nova",sans-serif;
   font-weight:bold;
		
}

.navbar-toggleable-sm {
	text-align:center;
}



.navbar-brand {
	
}
.donate-button {
	background:#ff6600;
	text-transform:uppercase;
	padding:5px;
	margin-top:-3px;
	font-size:1em;
	color:#fff;
}

.footer-donate {
	margin-left:20px;
}



.donate-button {
	font-weight:bold;
	color:#fff;
}

.donate-button a:hover {
	text-decoration:none;
}

.donation btn a{
	color:#fff;
}


.navbar .navbar-nav {
  display: inline-block;
  float: left;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.drops {
	width:220px;
	font-size:1em;
	
}

.drops a {
	color:#2A6288 !important;;
}
.droppy {
	display:block;
}

.droppy a{
	padding:5px;
}
.droppy:hover {
	
	color:#fff !important;
	background-color:#5CC9F5;
}

.dropdown:hover .dropdown-menu {
display: block;
}

footer {
    min-height: 200px;
    padding-top: 50px;
	padding-bottom:40px;
	color:#fff;
    background: #2696CE;
}

footer img {
	border:0;
}

footer h3 {
	color:#29618C;
}
footer p {
	color:#fff;
	margin-top:0px;
}
footer a {
	color:#CEE9FD;
}

footer a:hover {
	color:#fff;
	text-decoration:none;
}
.footer-nav  a {
	font-size:1.2em;
	font-weight:bold;
}

.footer-nav a:hover {
	
	color:#fff;
	
}

footer {
	margin-top:0px;
	color: #fff;
	text-align:center;
	padding: 20px 0 20px;
}

.footer-col {
	padding:20px;
	text-align:left;
	font-size:1em;
	font-weight: 300;
}

.footer-col ul {
	border-top:1px solid #56C3F4;
	padding-top:10px;
}

.footer-col p {
	border-top:1px solid #56C3F4;
	padding-top:10px;
	font-size:1.2em;
}
.footer-col strong {
	font-weight: 300;
}

.footer-col h3 {
	font-size:1.1em;
	text-transform:uppercase;
	color:#56C3F4;
	font-weight:400;	
}


.footnav li{
	list-style:none;
	text-transform:uppercase;
	font-size:1em;display: inline-block;
	padding:20px;
}

.navbar-centered .footnav > li > a {
        display: inline-block;
    }

.footer-col li a {
	color:#fff;
}

.footer-col li a:hover {
	color:#fff;
	
	
}
.paidforby {
	clear:both;
	border:0px solid #fff;
	padding:40px 10px;
	text-align:center;
	font-size:0.8em;
	
	margin:0px auto;
	margin-bottom:20px;
}

.paidforby p {
	color:#CEE9FD;
}

.home-jumbotron {
	padding-top:40px;
	height:450px;
	background: url('multiethnic.jpg') center 40%  no-repeat;
	background-size:cover;
	padding-bottom:20px;
	
}

.about-jumbotron {
	padding-top:40px;
	height:450px;
	background: url('running.jpg') center 0% no-repeat;
	background-size:cover;
	padding-bottom:20px;
	
}

.endorsements-jumbotron {
	padding-top:40px;
	height:450px;
	background: url('kidsinclass.jpg') center 30% no-repeat;
	background-size:cover;
	padding-bottom:20px;
	
}

.faq-jumbotron {
	padding-top:40px;
	height:450px;
	background: url('language.jpg') center 30% no-repeat;
	background-size:cover;
	padding-bottom:20px;
	
}

.contact-jumbotron {
	padding-top:40px;
	height:450px;
	background: url('friends.jpg') center 35% no-repeat;
	background-size:cover;
	padding-bottom:20px;
	
}
.support-jumbotron {
	padding-top:40px;
	height:450px;
	background: url('world.jpg') center 60% no-repeat;
	background-size:cover;
	padding-bottom:20px;
	
}
.intro-section {
    min-height: 500px;
    padding-top: 40px;
	padding-bottom:40px;
    text-align: center;
  
}

.intro-section p{
	font-size:2em;
}

.intro-section h1 {
	color:#333;
	font-size:2.5em;
	
	
}


.sub-intro-section {
	color:#333;
	 min-height: 200px;
	 background:#fff;
	 padding:40px 0;
	 
}
.sub-intro-section h1 {
	color:#333;
	font-size:2.3em;
	text-align:center;
	text-transform:capitalize;
	line-height:2em;
	
}
.sub-intro-section h2{
	margin:50px 10px 20px;
	text-align:center;
}

.sub-intro-section p {
	text-align:center;
	width:90%;
	color:#666;
	margin:0px auto;
	margin-bottom:20px;
	font-size:1.5em;
}


.find-out-more {
	margin-top:20px;
}

.find-out-more a {
	color:#fff;
	background:#EB9C49;
}

.find-out-more a:hover {
	color:#fff;
	background:#E76A1E;
}

.btn {
	font-weight:bold;
}
.more-btn {
	
	font-size:1.5em;
}


.a-section {
    min-height: 300px;
    padding-top: 50px;
	padding-bottom:40px;
    text-align: center;
				 background: #fff;
   
}

.a-section p {
	color:#666;
}

.b-section {
    min-height: 200px;
    padding-top: 50px;
	padding-bottom:40px;
    text-align: center;
    background: #F1FBFF;
}

.b-section p {
	color:#666;
}



.banner-section {
    min-height: 300px;
    padding-top: 30px;
	padding-bottom:30px;
    text-align: center;
    background: #EAF9FF;
	color:#29618C;
	
}

.banner-section h3{
	color:#29618C;
	margin-top:0px;
	margin-bottom:0px;
}

.banner-section p {
	margin-top:10px;
}
.actions {
	
	margin-bottom:40px;
	text-align:center;
}




.bio p {
	font-size:1.3em;
}

.humans { display: none; }

.success {
	width: 50%;
	padding: 50px;
	margin:0px auto;
	background-color:#fff;
	margin-top:100px;
	
}




.breather {
	margin-top:50px;
	margin-bottom:50px;
}

.breather h3 {
	padding-bottom:20px;
	text-transform:uppercase;
	font-size:1.5em;
	font-weight:300;
}

.action-icon {
	font-size:3em;
	color:#29618C;
}

b {
	font-weight:400;
	color:#333;
}

.btn-warning {
	background:#ff6600;
}

.ulist {
	font-size:1.3em;
	font-weight:400;
	text-align:left;
	color:#666;
}
.ulist li {
	margin-bottom:10px;
	
}

.fa-check {
	color:green;
}

.vote-yes h1{
	font-size:5em;
	color:#93C960;
	padding:60px 40px;
}

.support-58 h1{
	font-size:2.5em;
	color:#93C960;
	text-align:center;
	
	padding:20px 40px 20px;
	margin:0px auto;
}

.learn-title  h1{
	font-size:4em;
	color:#93C960;
	margin-top:10px;
	margin-bottom:10px;
}

.learn-title  h2{
	font-size:2.4em;
	
	margin-top:10px;
	text-transform:uppercase;
	font-weight:bold;
	color:#93C960;
}

.learn-title h2 strong{
	color:#29618C;
}

.learn-blue {
	color:#29618C;
}

.support-actions {
	width:50%;
	margin:0px auto;
	padding-bottom:30px;
}

.support-mc-form {
	margin-top:20px;
}
.contact-form {
	padding:20px;
}
.contact-form h4 {
	padding:20px;
	color:#29618C;
	text-align:center;
}

.send-btn {
	margin-top:0;
	margin-left:50px;

}


.anedot-form{
	padding-top:30px;
}




.login{
	border:2px solid #B1E4F9;
	padding:40px 40px 0px;
	margin-top:50px;
	margin-bottom:50px;
font-family:  "proxima-nova",sans-serif;
	
}

.login h1, .admin-panel h1{
color:#555;
font-family:  "proxima-nova",sans-serif;
text-shadow:none;
	
}

fieldset {
	font-weight:bold;
}

input {
	font-weight:normal;
}
.login-field input{
	
	font-weight:bold;
	padding:10px;
	color:#333;
	width:100%;
}

.edit-intro {
	height:150px;
	font-weight:normal;
}
.admin {
	padding-top:60px;
	margin-bottom:200px;
}

.admin-panel {
	width:600px;
	margin:0px auto;
	margin-top:50px;
	margin-bottom:50px;

}

.bta  {
	font-size:1em;
	margin-top:80px;
}

.fa-arrow-left {
	color:#ff6600;
}

.fa-arrow-right {
	color:#ff6600;
}

.fa-download {
	color:#FF6428;
}

.read-more {
	font-size: 0.8em;
	text-transform: uppercase;
}
.su {
	width:100px;
}

.user-name {
	width:200px;
}

.user-email {
	width:200px;
}

.form-errors p{
	color:#FF0000;
	padding:10px;
	color: #E74A42;
	background: #FFCCCC;
}

.edit {
	

	padding: 5px 10px;
	color:#5CC9F5;
		text-transform:uppercase;
	margin-bottom:20px;

	background-color:#F1FBFF;
	
}

.edit a {
	color:#5CC9F5;
	font-weight:bold;
	font-weight:400;
	
}

.edit-endorsement {
			font-size:.8em;
}
.close {
	margin-top:-2px;
	color:#09BAFF;
}


.table {
    border-bottom:0px !important;
}
.table th, .table td {
	font-size:1.4em;
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}


.actions input{
	background:#EAF9FE;
	color:#5CC9F5;
}

.actions input:hover{
	background:#5CC9F5;
	color:#fff;
}

.badge {
	background:#eee;
	color:#999;
	padding:5px;
	font-size:0.6em;
	 border-radius: 10px;
		margin-top:-10px;
		margin-right:10px;
}

.admin-info {
	background:#FAF5C6;
	padding:5px 10px;
	color:#93C960;
	border-radius: 5px;
	margin-bottom:20px;
}

.admin-info p {
	padding:0px 0;
	font-size:1em;
	font-weight:bold;
}

.rails-bootstrap-forms-date-select,
.rails-bootstrap-forms-time-select,
.rails-bootstrap-forms-datetime-select {
  select {
    display: inline-block;
    width: auto;
  }
}
.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
h4.also-news {
	text-transform:uppercase;
	color:#2A6288;
	background: #EAF9FE;
	padding:10px;
}
.news-story {
	text-align:left;
}

.news-img {
	width:100%;
	height:auto;
}
.news-story h1, .news-story h2, .news-story h3 {
	text-align:left;
}

.full h1, .full h2, .full h3, .full h4 {
	text-align:left;
}

.rh h1, .rh h2, .rh h3, .rh h4 {
	text-align:left;
}

.prs {
	margin:40px 0 20px;
}

.pr-body p{
	font-size:1.2em;
	font-weight:300;

}

.pr-body b{

	font-weight:500;

}

.date-share-row {
	padding-top:5px;
	min-height:40px;
	border-bottom:1px solid #ccc;
	margin-botom:10px;
}

.date-col {
	padding-left:0px;
	padding-top:4px;
}
.share-col {
		
		padding:0px;
}

.shareaholic-share-buttons-container .shareaholic-share-buttons-wrapper {
    
				margin-top:-13px;
}


.news-intro {
	font-size:1.2em;
	font-weight:500;
}
.intro-p {
	font-size:1.2em;
	font-weight:300;
}
.full {
	padding-top:40px;
	padding-bottom:40px;
}
.rh {
	padding-top:40px;
	padding-bottom:40px;
}

.download-sheet {
	border: 1px solid #ccc;
	margin-bottom:20px;
}

