   
     <section id="banner" class="banner-section">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 actions">
					 <div class="action-icon"><span class="fa fa-book"></span></div>
                   	<h3>Learn More</h3>
					<p>Discover the benefits of a multilingual education</p>
					<%= link_to 'Learn more...', about_path, class:"btn btn-warning action-btn" %>
                 </div>
				 
                 <div class="col-lg-4 actions">
					 <div class="action-icon"><span class="fa fa-thumbs-up"></span></div>
                   	<h3>Support Prop 58</h3>
					<p>Find out how you can get involved to help our students</p>
					<%= link_to 'Support Prop 58...', support_path, class:"btn btn-warning action-btn" %>
                 </div>
				 
                 <div class="col-lg-4 actions">
					 <div class="action-icon"><span class="fa fa-envelope-o"></span></div>
                   	<h3>Join our e-mail list</h3>
					<p>Sign up to receive the latest updates from the Prop 58 team</p>
					<%= link_to 'Sign up...', "http://eepurl.com/b-U2nL", target: "_blank", class:"btn btn-warning action-btn" %>
					
                 </div>
				 
             </div>
         </div>
     </section> 
   