    <section class="b-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

<h2>Download the Prop 58 Fact Sheet</h2>

<p>We've put together a Prop 58 fact sheet, available in Chinese, Korean, Spanish and English.</p>


<div class="action-icon col-lg-3"><span class="fa fa-download"></span><h4>Chinese</h4></div>

<div class="action-icon col-lg-3"><span class="fa fa-download"></span><h4>Korean</h4></div>

<div class="action-icon col-lg-3"><span class="fa fa-download"></span><h4>Spanish</h4></div>

<div class="action-icon col-lg-3"><span class="fa fa-download"></span><h4>English</h4></div>


                </div>
            </div>
        </div>
    </section>